html
    background-color: transparent
    background-image: url("https://www.maltacor.com.br/images/home/fundo-quem-somos.png")
    background-repeat: no-repeat
    background-size: cover
#nome
    color: #2a2929
    font-family: "Source Code Pro Medium", "Serif",serif
#foto
    height: 100px
    width: 100px
    padding-bottom: 10px
    z-index: 1
    border-radius: 30% 70% 70% 30% / 30% 36% 64% 70%
.pessoas
    text-align: center


.pessoa
    display: inline-block
    vertical-align: middle
    padding-inline: 20px


.atividade4
    margin-left: auto
    margin-right: auto
    align-self: center
    width: 40%
    padding: 0 1%
ul#listagem
    width: border-box
#texto
    .h1
    color: #000000
    font-family: "Source Code Pro Medium", "Serif", serif
    font-weight: bold
    border-radius: 38% 46% 10% 78% / 52% 45% 29% 33%
